@import '../../Styles/variables.scss';
@import '../../Styles/mixins.scss';

.shopHeader {
  @include center-column;
  height: 70vh;
  width: 100%;
  background-color: $sandy-brown-300;
  padding: 5% 0;

  .shopHeaderTitle {
    font-family: 'Lobster Two', coursive;
    font-size: 10rem;
    font-weight: 400;
  }
}

@media (min-width: 1024px) {
  .shopHeader {
    height: 80vh;
    width: 100%;
    position:relative;
    padding: 5% 0;
    @include center-column;

    .shopHeaderTitle {
      font-size: 15rem;
    }

    .shopHeaderDescription {
      width: 80%;
      margin: 2% 0;
      text-align: center;
    }
  }
}