@import '../../Styles/variables.scss';
@import '../../Styles/mixins.scss';
@import '../../Styles/animations.scss';

#shopGallerySliderDiv {
  height: auto;
  width: auto;
  position: relative;
  margin: 5%;
}

.discountContainer {
  @include center-column;
  position: absolute;
  z-index: 2;
  top: -12px;
  right: -24px;
  cursor: pointer;

  .discountText {
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    align-self: center;
    justify-self: center;
    color: white;
  }

  .discountBtn {
    z-index: -1;
    height: 100px;
    width: auto;

    * {
      fill: $bordeaux-600;
    }
  }

  &:hover {
    .discountBtn {
      animation: rotate 5s infinite;
      * {
        fill: $bordeaux-700;
      }
    }

    .discountText {
      color: $sandy-brown-400;
    }
  }
}

.gallerySliderContainer {
  @include center-row(flex-start);
  height: 250px;
  width: 300px;
  position: relative;
  overflow: hidden;
  margin: 5% 0;

  .featuredProductContainer {
    height: 100%;
    min-width: 100%;
    transition: all 0.5s ease-in-out;
  }

  .rightArrow,
  .leftArrow {
    height: 25px;
    border-top: 3px solid $bordeaux-500;
    width: 25px;
    position: absolute;
    cursor: pointer;
    z-index: 1;

    &:hover {
      border-color: $sandy-brown-400;
      border-width: 2px;
    }
  }

  .rightArrow {
    right: 12px;
    align-self: center;
    transform: rotate(45deg);
    border-right: 3px solid $bordeaux-500;
  }

  .leftArrow {
    left: 12px;
    align-self: center;
    transform: rotate(-45deg);
    border-left: 3px solid $bordeaux-500;
  }
}

@media (min-width: 768px) {
  .discountContainer {
    .discountText {
      font-size: 1.5rem;
    }

    .discountBtn {
      height: 150px;
    }
  }

  .gallerySliderContainer {
    min-height: 600px;
    width: 800px;
  }
}