@import '../../Styles/variables.scss';
@import '../../Styles/mixins.scss';

.productContainer {
  height: 250px;
  width: 350px;
  justify-self: center;
}

@media (min-width: 1025px) {
  .productContainer {
    @include center-column;
    height: 500px;
    width: auto;
    justify-self: center;
    margin: 24px;

    img {
      justify-self: center;
    }

    &:hover {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.516);
      cursor: pointer;
      transform: rotate(1deg);
    }
  }

}