$main-font: 'Lato', sans-serif;
$header-height: 50vh;
$header-font-size: 3rem;
$header-background-image: url('../../assets/Images/ai-background.png');
$border-default: 1px solid black;

/* COLORS */

$white: #ffffff;
$black-mate: #000000;

$sandy-brown-50: #fdf7ef;
$sandy-brown-100: #fbedd9;
$sandy-brown-200: #f6d8b2;
$sandy-brown-300: #f1bd80;
$sandy-brown-400: #ea984e;
$sandy-brown-500: #e57c2a;
$sandy-brown-600: #d66220;
$sandy-brown-700: #b24c1c;
$sandy-brown-800: #8e3d1e;
$sandy-brown-900: #73341b;
$sandy-brown-950: #3e180c;

$bordeaux-50: #fff0f1;
$bordeaux-100: #ffe2e5;
$bordeaux-200: #ffcad2;
$bordeaux-300: #ff9ead;
$bordeaux-400: #ff6783;
$bordeaux-500: #ff325c;
$bordeaux-600: #ef0f47;
$bordeaux-700: #ca063c;
$bordeaux-800: #a9083a;
$bordeaux-900: #900b38;
$bordeaux-950: #6d0022;
