@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,400;1,700&family=Lobster+Two:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* MOBILE FIRST */

header {
  width: 100%;
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background: url(../resources/Images/parallaxThree.svg);
  background-size: cover;
  max-width: 100%;
  font-family: 'Lobster Two', cursive;
}

#headerTitle {
  position: sticky;
  top: 0;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#homeGallery {
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#frontImage {
  z-index: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

#galleryContainer {
  height: 90%;
  width: 90%;
  border: 4px solid black;
  display:flex;
}

#homeGalleryTwo {
  background: url(../resources/Images/homeGalleryTwo.svg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position-y: 50%;
}

#carouselOne {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  -ms-overflow-style: none;
  transition: all 3s ease-in-out;
  margin-top: 24px;
  margin-bottom: 24px;
}

.carouselOneImg {
  flex-basis: 40%;
  max-width: 80%;
  height: 60%;
}

#carouselBtnContainer {
  flex-basis: 20%;
  min-width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: all 1s ease-in-out;
}

#carouselBtnContainer:hover {
  background: url('../resources/Images/btnBg.gif');
  background-size: contain;
  transform: rotate(5deg);
}

#carouselBtn {
  height: 80%;
  width: 80%;
  border-radius: 100%;
  margin-top: 3%;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  background-color: #6d0022;
  border: 2px solid black;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

#carouselBtn:hover {
  transform: rotate(5deg);
  background-color: #f4c382;
  border: 4px solid #ea984e;
  font-size: 1.7rem;
}

#descriptionContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
  
#homeDescription {
  width: 90%;
  font-size: 1.7rem;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

#imageHomeContainer {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#imageHome {
  width: 90%;
  height: 70%;
  background-size: cover;
  border: 3px solid black;
  margin-bottom: 5%;
}

#arrowContainer {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

#arrowContainer:hover {
  transform: translateX(0.5%)
}

#arrowHome {
  height: 50px;
  margin-right: 5%;
}

#shopSection {
  width: 100%;
  height: 80vh;
  font-size: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ea984e;
}

#shopTitle {
  font-size: 10rem;
}

#shopBtn {
  width: 100px;
  height: 100px;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(45%);
  text-decoration: none;
  font-size: 1rem;
  color: black;
}

/* ANIMATION SHOP BUTTON */ 

[data-aos="rotate-c"] {
  transform: rotate(-90deg);
  transition-property: transform;
  opacity: 0.8;
  transition: all 1s ease-in-out
}

[data-aos="rotate-c"].aos-animate {
  transform: rotate(90deg);
  opacity: 1;
}


[data-aos="imageAnimation"] {
  transform: translateY(0%);
  transition-property: transform;
  opacity: 0;
}

[data-aos="imageAnimation"].aos-animate {
  transform: translateY(-10%);
  opacity: 1;
}

[data-aos="carouselRight"] {
  transform: translateX(10%)
}

[data-aos="carouselRight"].aos-animate {
  transform: translateX(-10%)
}


[data-aos="carouselBtnRight"] {
  transform: translateX(40%)
}

[data-aos="carouselBtnRight"].aos-animate {
  transform: translateX(-40%)
}


#form {
  height: 100vh;
  width: 100%;
}

#shopButtonImage:hover {
  animation: rotation 1s infinite linear;
}

#shopButtonImage {
  z-index: 1;
  position: absolute;
  cursor: pointer;
}

#shopBtnText {
  z-index: 3;
  transition: all 0.5s ease-in-out
}

#shopBtnText:hover {
  color: #6d0022;
  font-size: 1.2rem

}

@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

/* ANIMATION SHOP BUTTON */ 

#shopImage {
  width: 70%;
  height: 90%;
  margin-bottom: 5%;
  background: url(../resources/Images/chemex.svg);
  background-size: contain;
  border: 4px solid #6d0022;
}

/* TABLETS */

@media (min-width: 768px) {
  
}

/* DESKTOP */

@media (min-width: 1025px) {
   header {
     height: 100vh;
     font-size: 15rem;
     background-size: cover;
    }

   #headerTitle {
     position:sticky;
     top: 0;
     height: 80vh;
     display: flex;
     font-family: 'Lobster Two', cursive;
     align-items: center;
     z-index: 1;
   }

   #frontImage{
    z-index: 3;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
   }

   #homeGallery {
     height: 100vh;
   }

   #homeGalleryTwo {
     width: 33.333%;
     background-size: cover;
     background-position: center;
   }

   #homeGalleryOne {
     background: url('../resources/Images/homeGalleryOne.svg');
     width: 33.333%;
     height: 100%;
     background-size: cover;
     background-position: center;
   }

   #homeGalleryThree {
     background: url('../resources/Images/homeGalleryThree.svg');
     width: 33.333%;
     height: 100%;
     background-size: cover;
   }

   #carouselOne {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
    -ms-overflow-style: none;
    transition: all 3s ease-in-out;
  }
  
  #carouselOne::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .carouselOneImg {
    flex-basis: 40%;
    max-width: 80%;
    height: auto;
  }
  
  #carouselBtnContainer {
    flex-basis: 20%;
    min-width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    transition: all 1s ease-in-out;
  }
  
  #carouselBtnContainer:hover {
    background: url('../resources/Images/btnBg.gif');
    background-size: contain;
    transform: rotate(5deg);
  }
  
  #carouselBtn {
    height: 50%;
    width: 50%;
    border-radius: 100%;
    margin-top: 3%;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    background-color: #6d0022;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
  }
  
  #carouselBtn:hover {
    transform: rotate(5deg);
    background-color: #f4c382;
    border: 4px solid #ea984e;
    font-size: 1.7rem;
  }
  
  #descriptionContainer {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  #homeDescription {
    width: 30%;
    font-size: 1.7rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-bottom: 10%;
  }

  #arrowContainer {
    width: 100%;
    margin-bottom: 5%;
  }

  #arrowHome {
    height: 120px;
    margin-right: 8%;
  }

  #imageHomeContainer {
    width: 100%;
    height: 100vh;
  }
  
  #imageHome {
    width: 70%;
    height: 90%;
    background-size: cover;
    margin-bottom: 10%;
  }

  #shop {
    width: 30%;
    height: 90%;
  }

  #shopSection {
    height: 120vh;
  }
  

  #shopImage {
    width: 30%;
    height: 95%;
    margin-bottom: 5%;
    background-size: cover;
  }

  [data-aos="imageAnimation"] {
    transform: translateY(0%);
    transition-property: all;
    opacity: 0;
  }
  
  [data-aos="imageAnimation"].aos-animate {
    transform: translateY(-9%);
    opacity: 1;
  }

  #shopBtn {
    width: 200px;
    height: 200px;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-40%)
  }
}