@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,400;1,700&family=Lobster+Two:wght@400;700&display=swap');
/* MOBILE FIRST */

header {
  width: 100%;
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

#headerTitle {
  position: sticky;
  top: 0;
}

#homeGallery {
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#frontImage{
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

#galleryContainer {
  height: 90%;
  width: 90%;
  border: 4px solid black;
  display:flex;
}

#homeGalleryTwo {
  background: url(../resources/Images/homeGalleryTwo.JPG);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position-y: 50%;
}

#carouselOne {
  display: none;
}

#descriptionContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
  
#homeDescription {
  width: 90%;
  font-size: 1.7rem;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

/* TABLETS */

@media (min-width: 768px) {
  
}

/* DESKTOP */

@media (min-width: 1025px) {
   header {
     height: 100vh;
     font-size: 10rem;
     background: url(../resources/Images/parallaxThree.png);
     background-size: cover;
    }

   #headerTitle {
     position: sticky;
     top: 0;
     bottom: 1000px;
     height: 80vh;
     display: flex;
     align-items: center;
   }

   #frontImage{
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
   }

   #homeGallery {
     height: 100vh;
   }

   #homeGalleryTwo {
     width: 33.333%;
     background-size: cover;
     background-position: center;
   }

   #homeGalleryOne {
     background: url('../resources/Images/homeGalleryOne.JPG');
     width: 33.333%;
     height: 100%;
     background-size: cover;
     background-position: center;
   }

   #homeGalleryThree {
     background: url('../resources/Images/homeGalleryThree.JPG');
     width: 33.333%;
     height: 100%;
     background-size: cover;
   }

   #carouselOne {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
    -ms-overflow-style: none;
    transition: all 3s ease-in-out;
  }
  
  #carouselOne::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  
  #carouselOne > :nth-child(1),
  #carouselOne > :nth-child(2),
  #carouselOne > :nth-child(3)
  {
    transition: 2s ease-in-out;
  }
  
  
  #carouselOne:hover > :nth-child(1),
  #carouselOne:hover > :nth-child(3)
  {
    transform: translateX(-20%);
    transition: 4s ease-in-out;
  }
  
  #carouselOne:hover > :nth-child(2) {
   transform: translateX(-80%);
   transition: all 3.9s ease-in-out;
  }
  
  .carouselOneImg {
    flex-basis: 40%;
    max-width: 80%;
    height: auto;
  }
  
  #carouselBtnContainer {
    flex-basis: 20%;
    min-width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    transition: all 1s ease-in-out;
  }
  
  #carouselBtnContainer:hover {
    background: url('../resources/Images/btnBg.gif');
    background-size: contain;
    transform: rotate(50deg);
  }
  
  #carouselBtn {
    height: 50%;
    width: 50%;
    border-radius: 100%;
    margin-top: 3%;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    background-color: #6d0022;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
  }
  
  #carouselBtn:hover {
    transform: rotate(5deg);
    background-color: #f4c382;
    border: 4px solid #ea984e;
    font-size: 1.7rem;
  }
  
  #descriptionContainer {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  #homeDescription {
    width: 50%;
    font-size: 1.7rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
  }

  #gifHomeContainer {
    width: 100%;
    height: 90vh;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #gifHome {
    width: 50%;
    height: 70%;
    border: 1px solid blue;
  }
}