@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,400;1,700&family=Lobster+Two:wght@400;700&display=swap');

/* MOBILE FIRST */
.navigationLinks {
  text-decoration: none;
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 3rem;
}

.navigationLinks:hover {
  color: #ea984e;
}

nav {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 15px;
  position: fixed;
  display: fixed;
  background-color: #8c304c;
  z-index: 1100;
  transition: all 1s ease-in-out;
}

nav.navhidde {
  transform: translateY(-100%)
}

#logo {
  display: none;
}

.burgerMenu {
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-right: 5%;
}

.navigation {
  position: fixed;
  width: 100%;
  height: 100vh;
  bottom: 0;
  left: 0;
  right: 0;
  top: -100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('../resources/Images/mobileMenuBg.gif');
  background-size: contain;
  font-size: 2.5rem;
  z-index: 0;
  transition: all 1s ease-in-out;
}

.navigation.navigationActive {
  top: 0;
}

.navActive {
  top: 0;
}

.burgerLine {
  height: 4px;
  width: 40px;
  background-color: black;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

.burgerActive:nth-child(1){
  transform: rotate(45deg);
  position: fixed;
}

.burgerActive:nth-child(2){
  display: none;
}

.burgerActive:nth-child(3){
  transform: rotate(-45deg);
  position: fixed;
}

/* MOBILE FIRST */

/* TABLETS */

@media (min-width: 768px) {
  .navigation {
    background: url('../resources/Images/tabletMenuBg.gif');
    background-size: cover;
  }
}

/* DESKTOP */
@media (min-width: 1025px)  {

  nav {
    justify-content: space-between;
    background-size: 50%;
    padding: 0;
  }

  .burgerMenu {
    display: none;
  }

  #logo {
    display: block;
  }

  .navigation {
    display: flex;
    position: static;
    flex-direction: row;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    background-color: transparent;
    justify-content: space-between;
    margin: 0px;
    align-items: center;
    background: none;
    padding: 0 5%;
  }

  .navigationLinks {
    font-size: 1.5rem;
    }
}
/*DESKTOP*/