@import '../../Styles/variables.scss';
@import '../../Styles/mixins.scss';
@import '../../Styles/animations.scss';

// MOBILE FIRST STYLES

#shopSection {
  width: 100%;
  background-color: $white;
  padding: 10% 0;
  @include center-column; 

  #shopTitle {
    color: $black-mate;
    padding-bottom: 5%;
    border-bottom: 1px solid $black-mate;
    margin-bottom: 5%;
  }

  #shopDescription {
    color: $black-mate;
    width: 80%;
    text-align: left;
    padding-bottom: 5%;
  }

  #shopImageContainer {
    height: auto;
    width: 350px;
    position: relative;
    transition: all 0.5s ease-in-out;

    img {
      width: 100%;
    }

    #shopBtn {
      height: 100px;
      width: 100px;
      @include center-row;
      position: absolute;
      bottom: -5%;
      right: -5%;

      &:hover {
        #shopBtnImage {
          transform: scale(1.1);
          animation: rotate 5s infinite;
          
          * {
            fill: $bordeaux-800;
          }
        }

        #shopBtnText {
          transform: scale(1.1);
          color: $sandy-brown-400;
        }
      }
    
      #shopBtnText {
        position: absolute;
        z-index: 1;
        color: $black-mate;
      }
  
      #shopBtnImage {
        position: absolute;
        z-index: 0;
        max-height: 100%;

        * {
          fill: $bordeaux-700;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  #shopSection {
    padding: 5% 0;
  
    #shopTitle {
      padding-bottom: 2%;
      width: 80%;
      text-align: left;
      margin-bottom: 5%;
    }
  
    #shopImageContainer {
      height: auto;
      width: auto;
      position: relative;
  
      #shopBtn {
        height: 150px;
        width: 150px;
        top: -5%;
        right: -5%;
    
        #shopBtnText {
          position: absolute;
          z-index: 1;
          color: $white;
        }
    
        #shopBtnImage {
          position: absolute;
          z-index: 0;
          max-height: 100%;
  
          * {
            fill: $bordeaux-700;
          }
        }
      }
    }
  }  
}