@import '../../Styles/variables.scss';
@import '../../Styles/mixins.scss';


#coffeeHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60vh;
  background-color: $sandy-brown-300;
  padding: 5% 0;
}

#coffeeGalleryContainer {
  @include center-row;
  padding: 5%;
  background-color: $sandy-brown-100;
  width: 100%;

  #coffeeGalleryOne {
    border: 1px solid white;
    width: auto;
    overflow: hidden;
    height: 40vh;

    img {
      height: 100%;
    }
  }
}

#coffeeHeaderTitle {
  font-size: 10rem;
  font-weight: 400;
  font-family: 'Lobster Two', coursive;
}

#coffeeHeaderDescription {
  width: 80%;
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
  text-align: center;
}


@media (min-width: 1025px) {
    #coffeeHeader {
      height: 50vh;
    }

    #coffeeHeaderTitle {
      font-size: 15rem;
    }

    #coffeeHeaderDescription{
      width: 55%;
    }

    #coffeeGalleryContainer {
      padding: 5%;
    
      #coffeeGalleryOne {
        border: 1px solid white;
        width: 50vw;
        overflow: hidden;
        height: auto;
    
        img {
          height: auto;
          width: 100%;
        }
      }
    }
}