@import '../../Styles/variables.scss';

#eventsHome {
  height: 70vh;
  width: 100%;
  background-color: $bordeaux-900;

  #eventBtn {
    background-color: transparent;
    border: none;
    
    #coffeeWheel {
      height: 100px;
      width: 100px;
    }
  }

  #eventsGallery {
    margin: 0 5%;
    img {
      height: 25vh;
    }
  }
}

@media (min-width: 1024px) {
  #eventsHome {
    height: 60vh;
    width: 100%;
    background-color: $bordeaux-900;
    position:relative;

    #eventBtn {
      position: absolute;
      top: 10%;
      
      #coffeeWheel {
        height: 100px;
        width: 100px;
      }
    }

    #eventsTitle {
      font-size: 3rem;
      color: rgba(255, 255, 255, 0.433);
      padding-bottom: 2%;
      margin: 0 5%;
      width: 50%;
      text-align: center;
      border-bottom: 1px solid $white;
      margin-bottom: 5%;
    }
  }
} 