@import '../../Styles/variables.scss';
@import '../../Styles/mixins.scss';

#eventsHome {
  height: 70vh;
  width: 100%;
  background-color: $sandy-brown-50;
  padding: 5% 0;

  #eventsTitle {
    padding-bottom: 2%;
    margin: 0 5%;
    width: 50%;
    text-align: right;
    color: $black-mate;
    border-bottom: 2px solid $black-mate;
    margin-bottom: 5%;
    align-self: flex-end
  }

  #eventBtn {
    background-color: transparent;
    border: none;
    
    #coffeeWheel {
      height: 50px;
      width: 50px;
    }
  }

  #eventsGallery {
    @include center-column;
    overflow: hidden;
    height: 50%;
    margin: 0 5%;
    img {
      height: 25vh;
    }
  }
}

@media (min-width: 1024px) {
  #eventsHome {
    height: 100vh;
    width: 100%;
    position:relative;
    padding: 5% 0;
    @include center-column;

    #eventBtn {
      position: absolute;
      top: 10%;
    }

    #eventsGallery {
      @include center-row(flex-start);
      height: 50vh;
      margin: auto;
      width: 80%;

      #eventsImagesContainer {
       @include center-row(flex-start);
       height: 100%;

       img {
        height: 100%;
        margin: 0 24px;
       }
      }
    }
  }
} 