@import '../../Styles/variables.scss';

/* MOBILE FIRST */
.navigationLinks {
  text-decoration: none;
  color: #ea984e;
  font-family: $main-font;
  font-size: 3rem;

  &:hover {
    color: #ea984e;
  }
}

nav {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 15px;
  position: fixed;
  background-color: $sandy-brown-500;
  z-index: 1100;
  transition: all .5s ease-in-out;

  &.navhidde {
    transform: translateY(-100%)
  }
}

#logo {
  display: none;
}

.burgerMenu {
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-right: 5%;

  .burgerLine {
    height: 4px;
    width: 40px;
    background-color: black;
    z-index: 1;
    transition: all 0.5s ease-in-out;

    &.burgerActive {
      &:nth-child(1) {
        transform: rotate(45deg);
        position: fixed;
        background-color: $sandy-brown-500;
      }
  
      &:nth-child(2) {
        display: none;
      }
  
      &:nth-child(3) {
        transform: rotate(-45deg);
        position: fixed;
        background-color: $sandy-brown-500;
      }
    }
  }
}

.navigation {
  position: fixed;
  width: 100%;
  height: 100vh;
  bottom: 0;
  left: 0;
  right: 0;
  top: -100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('../../assets/Images/mobileMenuBg.gif');
  background-size: contain;
  font-size: 2.5rem;
  z-index: 0;
  transition: all 1s ease-in-out;

  &.navigationActive, .navActive {
    top: 0;
    transition: all 1s ease-in-out;
  }
}

/* TABLETS */
@media (min-width: 768px) {
  .navigation {
    background: url('../../assets/Images/tabletMenuBg.gif');
    background-size: cover;
  }
}

/* DESKTOP */
@media (min-width: 1025px) {
  nav {
    justify-content: space-between;
    background-size: 50%;
    padding: 0;
    height: 10vh;
  }

  .navigationLinks {
    color: white;
    font-size: 1.5rem;
  }

  .burgerMenu {
    display: none;
  }

  #logo {
    display: block;
  }

  .navigation {
    display: flex;
    position: static;
    flex-direction: row;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    background-color: transparent;
    justify-content: space-between;
    margin: 0;
    align-items: center;
    background: none;
    padding: 0 5%;
  }
}
/*DESKTOP*/
