@import '../../Styles/variables';
@import '../../Styles/mixins.scss';
@import '../../Styles/animations.scss';

// MOBILE FIRST STYLES

#carouselOne {
  overflow: auto;
  width: auto;
  height: 100px;
  display: flex;
  width: 250%;
  padding: 2% 0;
  overflow: hidden;
  margin: 5% 0;

  #carouselBtnContainer {
    min-width: 100px;
    width: 25%;
    @include center-row;
    position: relative;

    a {
      height: 50px;
      width: 50px;
      @include center-row;
      border-radius: 100% !important;
      color: black;
      @include basic-button;
      z-index: 1;
    }

    #carouselCoffeeBeans {
      position: absolute;

      * {
        fill: $sandy-brown-500;
      }
    }
  }

  * {
    max-height: 100%;
  }
}

@media (min-width: 1024px) {
  #carouselOne {
    padding: 0;
    width: 120%;
    max-height: 200px;
    height: 30vh;

    * {
      margin: 0 1%;
    }

    #carouselBtnContainer {
      min-width: 150px;
      
      a {
        height: 70px;
        width: 70px;
      }

      &:hover {
        #carouselCoffeeBeans {
          animation: rotate 4s linear infinite;
          transition: transform .5s ease-in-out;
        }
      }
    }
  }
}