@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,400;1,700&family=Lobster+Two:wght@400;700&display=swap');

/* RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-behavior: smooth;
}

/* RESET */

:root {
  --yellow-background: #f4c382;
}

#root {
  width: 100%;
  height: auto;
  background-color: #8c304c;
}

h1 {
  font-family: 'Amaranth', sans-serif;
}
