/* RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* RESET */

:root {
  --yellow: #f4c382;
}

#root {
  width: 100%;
  height: 400vh;
  background-color: var(--yellow);
}