@import '../../Styles/variables.scss';
@import '../../Styles/mixins.scss';

.productsGridContainer {
  display: grid;
  grid-template-columns: 1fr;
  margin: 24px;
  gap: 24px;

  .productContainer {
    height: 250px;
    width: 350px;
    justify-self: center;
  }
}

@media (min-width: 1025px) {
  .productsGridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    grid-gap: 10px;

    .productContainer {
        @include center-column;
        height: 500px;
        width: auto;
        justify-self: center;
        margin: 24px;

        img {
          justify-self: center;
        }

        &:hover {
          box-shadow: 0 0 10px 0 $bordeaux-200;
          cursor: pointer;
          transform: rotate(1deg);
        }
    }
  }
}