@import '../../Styles/variables.scss';
@import '../../Styles/mixins.scss';

.productsGridContainer {
  display: grid;
  grid-template-columns: 1fr;
  margin: 24px;
  gap: 24px;
}

@media (min-width: 1025px) {
  .productsGridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    grid-gap: 10px;
  }
}